<h1>{{title}}</h1>
<p>Students List {{title}}</p>
<ul>
  <li> <a href="/student/mathew">Mathew</a></li>
  <li> <a href="/student/horacio">Horacio</a></li>
  <li>Tamy</li>
  <li>David</li>
  <li>Yerim</li>
  <li>Luis</li>
  <li>Memo</li>
  <li>Yombi</li>
  </ul>